Project/Library/
Project/Temp/UnityLockfile
Project/Temp/UnityTempFile-2b78bb002f6b747479dd2156e2d2bfd5
Project/Temp/
Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project/.vs/Project/v14/.suo
Project/Project.sln
Project/Build/
